@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --passion-one: "Passion One";
    --roboto: "Roboto";
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: var(--roboto);
    --font-passion-one: var(--passion-one);
}

body {
    color: white;
    font-family: var(--roboto);
}
