@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --passion-one: "Passion One";
    --roboto: "Roboto";
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: var(--roboto);
    --font-passion-one: var(--passion-one);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 10s linear infinite;
    will-change: transform;
}

body {
    color: white;
    font-family: var(--roboto);
}
